### Introduction to pandas

This notebook is an introduction to the types of data structures that can be used in pandas

In [1]:
import pandas as pd

One of the simplest data structures that we can ingest into `pandas` are series, which is very much akin to a list or an array and can ingest data that is stored as a simple list. To make a simple series in pandas we can used the pd.Series() command.

In [2]:
numbers = [12,53,57]
pd.Series(numbers)

0    12
1    53
2    57
dtype: int64

In [3]:
pd.Series(['12', '53', '57'])

0    12
1    53
2    57
dtype: object

In [4]:
pd.Series([1.2, 5.3, 5.7])

0    1.2
1    5.3
2    5.7
dtype: float64

Then there are DataFrames. They are two dimensional data sets (i.e. data sets with multiple columns/series). Imagine it like a spreadsheet but one that your Python code can understand and with the added bonus that each row in a data frame has an index (think of them like row labels) and columns (which can have column labels)!

In [5]:
pd.DataFrame([1.2, 5.3, 5.7])

     0
0  1.2
1  5.3
2  5.7

In [6]:
data = {'one' : [1.2, 2, 3, 4],
        'two' : [4, 3, 2.5, 1]}

In [7]:
pd.DataFrame(data)

   one  two
0  1.2  4.0
1  2.0  3.0
2  3.0  2.5
3  4.0  1.0

### What are indexes?

In [8]:
dataframe = pd.DataFrame(data)

In [9]:
dataframe.iloc[0]

one    1.2
two    4.0
Name: 0, dtype: float64

In [10]:
dataframe.iloc[[0,2]]

   one  two
0  1.2  4.0
2  3.0  2.5

In [11]:
dataframe.iloc[:1]

   one  two
0  1.2  4.0

In [12]:
dataframe.iloc[1:]

   one  two
1  2.0  3.0
2  3.0  2.5
3  4.0  1.0

In [13]:
dataframe.iloc[1:]['two']

1    3.0
2    2.5
3    1.0
Name: two, dtype: float64