In [1]:
import pandas as pd

In [3]:
numbers = [12,53,57]
pd.Series(numbers)

0    12
1    53
2    57
dtype: int64

In [4]:
data = {'one' : [1.2, 2, 3, 4],
        'two' : [4, 3, 2.5, 1]}
pd.DataFrame(data)

   one  two
0  1.2  4.0
1  2.0  3.0
2  3.0  2.5
3  4.0  1.0

In [5]:
data = {'one' : [1.2, 2, 3, 4],
        'two' : [4, 3, 2.5, 1]}
dataframe  = pd.DataFrame(data)

In [8]:
dataframe.head(2)

   one  two
0  1.2  4.0
1  2.0  3.0

In [9]:
dataframe.tail(2)

   one  two
2  3.0  2.5
3  4.0  1.0

In [10]:
dataframe.T

       0    1    2    3
one  1.2  2.0  3.0  4.0
two  4.0  3.0  2.5  1.0

In [15]:
dataframe_columntwo = dataframe['one']

In [16]:
dataframe_columntwo.head()

0    1.2
1    2.0
2    3.0
3    4.0
Name: one, dtype: float64

In [17]:
dataframe.iloc[1]

one    2.0
two    3.0
Name: 1, dtype: float64

In [18]:
dataframe['graison'] = 100

In [19]:
dataframe.head()

   one  two  graison
0  1.2  4.0      100
1  2.0  3.0      100
2  3.0  2.5      100
3  4.0  1.0      100

In [20]:
census_data = pd.read_csv('../data/2016_census_data.csv')

In [21]:
census_data.head()

,geoid,name,total_population,median_income,median_home_value,educational_attainment,white_alone,black_alone,native,asian,native_hawaiian_pacific_islander,some_other_race_alone,two_or_more,hispanic_or_latino
0,34003001000,"Census Tract 10, Bergen County, New Jersey",6767,151641.0,680000.0,3045.0,5667.0,75.0,0.0,759.0,0.0,0.0,132.0,134.0
1,34003002100,"Census Tract 21, Bergen County, New Jersey",1522,114545.0,2000001.0,836.0,788.0,141.0,0.0,444.0,0.0,0.0,27.0,122.0
2,34003002200,"Census Tract 22, Bergen County, New Jersey",5389,90647.0,453800.0,1791.0,3481.0,99.0,9.0,1247.0,0.0,36.0,19.0,504.0
3,34003002300,"Census Tract 23, Bergen County, New Jersey",5828,112031.0,610000.0,2363.0,3595.0,89.0,37.0,1627.0,0.0,0.0,32.0,448.0
4,34003003100,"Census Tract 31, Bergen County, New Jersey",4946,76906.0,301900.0,1588.0,1803.0,306.0,0.0,1435.0,0.0,13.0,24.0,1365.0

In [22]:
census_data.tail()

,geoid,name,total_population,median_income,median_home_value,educational_attainment,white_alone,black_alone,native,asian,native_hawaiian_pacific_islander,some_other_race_alone,two_or_more,hispanic_or_latino
4695,42103950701,"Census Tract 9507.01, Pike County, Pennsylvania",4107,61726.0,155800.0,537.0,3665.0,12.0,0.0,67.0,0.0,0.0,26.0,337.0
4696,42103950702,"Census Tract 9507.02, Pike County, Pennsylvania",3119,59239.0,151100.0,405.0,2908.0,44.0,0.0,60.0,0.0,0.0,19.0,88.0
4697,42103950801,"Census Tract 9508.01, Pike County, Pennsylvania",4403,55530.0,120000.0,718.0,2777.0,705.0,0.0,53.0,0.0,0.0,97.0,771.0
4698,42103950802,"Census Tract 9508.02, Pike County, Pennsylvania",6004,50724.0,146700.0,795.0,3072.0,970.0,20.0,44.0,0.0,0.0,11.0,1887.0
4699,42103950900,"Census Tract 9509, Pike County, Pennsylvania",4184,49453.0,146100.0,721.0,3888.0,55.0,29.0,22.0,0.0,0.0,9.0,181.0

In [23]:
census_data.T

,0,1,2,3,4,5,6,7,8,9,...,4690,4691,4692,4693,4694,4695,4696,4697,4698,4699
geoid,34003001000,34003002100,34003002200,34003002300,34003003100,34003003200,34003003300,34003003401,34003003402,34003003500,...,42103950502,42103950601,42103950603,42103950605,42103950606,42103950701,42103950702,42103950801,42103950802,42103950900
name,"Census Tract 10, Bergen County, New Jersey","Census Tract 21, Bergen County, New Jersey","Census Tract 22, Bergen County, New Jersey","Census Tract 23, Bergen County, New Jersey","Census Tract 31, Bergen County, New Jersey","Census Tract 32, Bergen County, New Jersey","Census Tract 33, Bergen County, New Jersey","Census Tract 34.01, Bergen County, New Jersey","Census Tract 34.02, Bergen County, New Jersey","Census Tract 35, Bergen County, New Jersey",...,"Census Tract 9505.02, Pike County, Pennsylvania","Census Tract 9506.01, Pike County, Pennsylvania","Census Tract 9506.03, Pike County, Pennsylvania","Census Tract 9506.05, Pike County, Pennsylvania","Census Tract 9506.06, Pike County, Pennsylvania","Census Tract 9507.01, Pike County, Pennsylvania","Census Tract 9507.02, Pike County, Pennsylvania","Census Tract 9508.01, Pike County, Pennsylvania","Census Tract 9508.02, Pike County, Pennsylvania","Census Tract 9509, Pike County, Pennsylvania"
total_population,6767,1522,5389,5828,4946,5044,6638,2958,3827,4100,...,3132,1560,1093,6056,5647,4107,3119,4403,6004,4184
median_income,151641,114545,90647,112031,76906,69531,97957,122650,105776,52382,...,57875,68319,56250,83220,86250,61726,59239,55530,50724,49453
median_home_value,680000,2e+06,453800,610000,301900,322400,328100,385200,356100,340200,...,205300,269200,281400,207100,237300,155800,151100,120000,146700,146100
educational_attainment,3045,836,1791,2363,1588,1417,1737,941,1237,891,...,728,354,255,1048,1369,537,405,718,795,721
white_alone,5667,788,3481,3595,1803,1342,2437,1704,1937,886,...,2186,1404,1009,5487,4951,3665,2908,2777,3072,3888
black_alone,75,141,99,89,306,186,400,109,260,502,...,237,33,16,333,71,12,44,705,970,55
native,0,0,9,37,0,19,0,0,0,16,...,0,0,0,21,0,0,0,0,20,29
asian,759,444,1247,1627,1435,1882,2131,520,733,1160,...,120,11,0,0,156,67,60,53,44,22
native_hawaiian_pacific_islander,0,0,0,0,0,0,0,0,0,0,...,0,0,0,9,0,0,0,0,0,0
some_other_race_alone,0,0,36,0,13,6,0,0,4,0,...,31,0,0,11,12,0,0,0,0,0
two_or_more,132,27,19,32,24,64,148,36,122,59,...,75,53,16,0,20,26,19,97,11,9
hispanic_or_latino,134,122,504,448,1365,1564,1522,589,771,1493,...,483,59,52,195,437,337,88,771,1887,181

In [24]:
census_data.columns

Index(['geoid', 'name', 'total_population', 'median_income',
       'median_home_value', 'educational_attainment', 'white_alone',
       'black_alone', 'native', 'asian', 'native_hawaiian_pacific_islander',
       'some_other_race_alone', 'two_or_more', 'hispanic_or_latino'],
      dtype='object')

In [25]:
census_data.dtypes

geoid                                 int64
name                                 object
total_population                      int64
median_income                       float64
median_home_value                   float64
educational_attainment              float64
white_alone                         float64
black_alone                         float64
native                              float64
asian                               float64
native_hawaiian_pacific_islander    float64
some_other_race_alone               float64
two_or_more                         float64
hispanic_or_latino                  float64
dtype: object

In [28]:
len(census_data.columns)

14

In [30]:
census_data['hispanic_or_latino']

0        134.0
1        122.0
2        504.0
3        448.0
4       1365.0
5       1564.0
6       1522.0
7        589.0
8        771.0
9       1493.0
10      1301.0
11      2210.0
12      1564.0
13      1827.0
14      1295.0
15       600.0
16      3678.0
17       362.0
18        72.0
19       785.0
20       522.0
21        76.0
22       816.0
23       805.0
24      1522.0
25      1528.0
26      1725.0
27      1083.0
28      1651.0
29      1824.0
         ...
4670     736.0
4671     557.0
4672     206.0
4673     449.0
4674     166.0
4675     182.0
4676     377.0
4677     330.0
4678     496.0
4679     176.0
4680      38.0
4681     417.0
4682     254.0
4683     129.0
4684     127.0
4685     353.0
4686      56.0
4687      27.0
4688       0.0
4689     221.0
4690     483.0
4691      59.0
4692      52.0
4693     195.0
4694     437.0
4695     337.0
4696      88.0
4697     771.0
4698    1887.0
4699     181.0
Name: hispanic_or_latino, Length: 4700, dtype: float64

In [33]:
columns  = ['hispanic_or_latino', 'median_income']

In [36]:
census_data['proportion_latino'] = (census_data['hispanic_or_latino']/census_data['total_population'])*100

In [37]:
census_data.head()

,geoid,name,total_population,median_income,median_home_value,educational_attainment,white_alone,black_alone,native,asian,native_hawaiian_pacific_islander,some_other_race_alone,two_or_more,hispanic_or_latino,proportion_latino
0,34003001000,"Census Tract 10, Bergen County, New Jersey",6767,151641.0,680000.0,3045.0,5667.0,75.0,0.0,759.0,0.0,0.0,132.0,134.0,1.980198
1,34003002100,"Census Tract 21, Bergen County, New Jersey",1522,114545.0,2000001.0,836.0,788.0,141.0,0.0,444.0,0.0,0.0,27.0,122.0,8.015769
2,34003002200,"Census Tract 22, Bergen County, New Jersey",5389,90647.0,453800.0,1791.0,3481.0,99.0,9.0,1247.0,0.0,36.0,19.0,504.0,9.352384
3,34003002300,"Census Tract 23, Bergen County, New Jersey",5828,112031.0,610000.0,2363.0,3595.0,89.0,37.0,1627.0,0.0,0.0,32.0,448.0,7.687028
4,34003003100,"Census Tract 31, Bergen County, New Jersey",4946,76906.0,301900.0,1588.0,1803.0,306.0,0.0,1435.0,0.0,13.0,24.0,1365.0,27.598059