In [1]:
import pandas as pd

In [2]:
charges = pd.read_csv('../data/sh_charge_receipts.csv')

In [7]:
charges

,CHARGE_FILING_DATE,CP_SEX,CP_NATIONAL_ORIGIN,CP_DOB,HISPANIC_CP,CP_RACE_STRING,R_NAICS_CODE,R_NAICS_DESCRIPTION,R_NUMBER_OF_EMPLOYEES,R_TYPE
0,Oct/01/1995,Female,Other National Origin - Obsolete,Oct/21/1969,NaN,B,311612.0,Meat Processed from Carcasses,201 - 500 Employees,Private Employer
1,Oct/02/1995,Female,Other National Origin - Obsolete,Jan/01/2001,NaN,O,541990.0,"All Other Professional, Scientific, and Techni...",15 - 100 Employees,Private Employer
2,Oct/02/1995,Female,Other National Origin - Obsolete,Jul/30/1960,NaN,W,722110.0,Full-Service Restaurants,15 - 100 Employees,Private Employer
3,Oct/02/1995,Male,Other National Origin - Obsolete,Jun/02/1957,NaN,B,422990.0,Other Miscellaneous Nondurable Goods Wholesalers,15 - 100 Employees,Private Employer
4,Oct/02/1995,Female,Other National Origin - Obsolete,Apr/15/1959,NaN,W,523999.0,Miscellaneous Financial Investment Activities,501+ Employees,Private Employer
5,Oct/02/1995,Female,Other National Origin - Obsolete,Nov/15/1952,NaN,A,721110.0,Hotels (except Casino Hotels) and Motels,15 - 100 Employees,Private Employer
6,Oct/02/1995,Female,Other National Origin - Obsolete,Jan/12/1973,NaN,W,339914.0,Costume Jewelry and Novelty Manufacturing,101 - 200 Employees,Private Employer
7,Oct/03/1995,Female,Other National Origin - Obsolete,Jul/02/1958,NaN,B,611310.0,"Colleges, Universities, and Professional Schools",15 - 100 Employees,Private College/University
8,Oct/03/1995,Female,Other National Origin - Obsolete,Aug/28/1967,NaN,O,561499.0,All Other Business Support Services,15 - 100 Employees,Private Employer
9,Oct/02/1995,Female,Other National Origin - Obsolete,Nov/24/1964,NaN,W,812320.0,Drycleaning and Laundry Services (except Coin-...,501+ Employees,Private Employer
10,Oct/02/1995,Female,Other National Origin - Obsolete,Dec/20/1946,NaN,W,314999.0,All Other Miscellaneous Textile Product Mills,15 - 100 Employees,Private Employer
11,Oct/02/1995,Female,Other National Origin - Obsolete,Apr/13/1965,NaN,W,488999.0,All Other Support Activities for Transportation,15 - 100 Employees,Private Employer
12,Oct/02/1995,Female,Other National Origin - Obsolete,NaN,NaN,O,NaN,NaN,15 - 100 Employees,Private Employer
13,Oct/04/1995,Female,Other National Origin - Obsolete,Dec/10/1972,NaN,W,921120.0,Legislative Bodies,15 - 100 Employees,State/Local Govt
14,Oct/05/1995,Female,Other National Origin - Obsolete,Nov/05/1946,NaN,W,541990.0,"All Other Professional, Scientific, and Techni...",15 - 100 Employees,Private Employer
15,Oct/05/1995,Male,Other National Origin - Obsolete,May/11/1977,NaN,O,722110.0,Full-Service Restaurants,15 - 100 Employees,Private Employer
16,Oct/06/1995,Male,Other National Origin - Obsolete,Sep/13/1955,NaN,B,323122.0,Prepress Services,15 - 100 Employees,Private Employer
17,Oct/06/1995,Female,Other National Origin - Obsolete,Aug/31/1974,NaN,B,311612.0,Meat Processed from Carcasses,501+ Employees,Private Employer
18,Oct/06/1995,Female,Other National Origin - Obsolete,Sep/17/1959,NaN,W,NaN,NaN,Unknown Number Of Employees,Private Employer
19,Oct/06/1995,Female,Other National Origin - Obsolete,NaN,NaN,O,517910.0,Other Telecommunications,15 - 100 Employees,Private Employer
20,Oct/06/1995,Female,Other National Origin - Obsolete,Nov/17/1961,NaN,O,339113.0,Surgical Appliance and Supplies Manufacturing,501+ Employees,Private Employer
21,Oct/10/1995,Female,Other National Origin - Obsolete,Aug/20/1939,NaN,W,441222.0,Boat Dealers,15 - 100 Employees,Private Employer
22,Oct/10/1995,Female,Other National Origin - Obsolete,Jul/16/1949,NaN,W,484121.0,"General Freight Trucking, Long-Distance, Truck...",501+ Employees,Private Employer
23,Oct/10/1995,Female,Other National Origin - Obsolete,NaN,NaN,B,722110.0,Full-Service Restaurants,15 - 100 Employees,Private Employer
24,Oct/10/1995,Female,Other National Origin - Obsolete,Dec/29/1961,NaN,W,713990.0,All Other Amusement and Recreation Industries,501+ Employees,Private Employer
25,Oct/10/1995,Female,Other National Origin - Obsolete,NaN,NaN,W,611310.0,"Colleges, Universities, and Professional Schools",501+ Employees,Public College/University
26,Oct/11/1995,Female,Hispanic - Obsolete,Aug/08/1963,NaN,W,311999.0,All Other Miscellaneous Food Manufacturing,15 - 100 Employees,Private Employer
27,Oct/11/1995,Female,Other National Origin - Obsolete,Apr/30/1977,NaN,W,452910.0,Warehouse Clubs and Supercenters,15 - 100 Employees,Private Employer
28,Oct/04/1995,Female,Other National Origin - Obsolete,Dec/13/1954,NaN,W,327212.0,Other Pressed and Blown Glass and Glassware Ma...,15 - 100 Employees,Private Employer
29,Oct/04/1995,Female,Other National Origin - Obsolete,May/19/1975,NaN,W,452910.0,Warehouse Clubs and Supercenters,15 - 100 Employees,Private Employer
...,...,...,...,...,...,...,...,...,...,...
169992,Sep/27/2016,Female,Charging Party Declined to Provide,Aug/09/1969,NaN,Z,NaN,NaN,15 - 100 Employees,Private Employer
169993,Sep/27/2016,Female,Puerto Rican National Origin,Dec/02/1972,Y,NaN,NaN,NaN,501+ Employees,Private Employer
169994,Sep/28/2016,Male,American (U.S.) National Origin,Jul/15/1986,NaN,W,722513.0,Limited-Service Restaurants,NaN,Private Employer
169995,Sep/28/2016,Female,American (U.S.) National Origin,NaN,NaN,B,112320.0,Broilers and Other Meat Type Chicken Production,15 - 100 Employees,Private Employer
169996,Sep/29/2016,Female,Unable to Obtain Information from Charging Party,Mar/07/1994,NaN,N,NaN,NaN,15 - 100 Employees,Private Employer
169997,Sep/30/2016,Female,NaN,NaN,NaN,W,NaN,NaN,15 - 100 Employees,Private Employer
169998,Sep/30/2016,Male,Unable to Obtain Information from Charging Party,NaN,NaN,HW,722310.0,Food Service Contractors,501+ Employees,Private Employer
169999,Sep/30/2016,Female,American (U.S.) National Origin,Aug/27/1963,NaN,B,NaN,NaN,501+ Employees,Private Employer
170000,Sep/30/2016,Female,American (U.S.) National Origin,Jun/09/1996,NaN,B,NaN,NaN,15 - 100 Employees,Private Employer
170001,Sep/30/2016,Female,American (U.S.) National Origin,Jan/17/1961,NaN,W,NaN,NaN,201 - 500 Employees,Private Employer
170002,Apr/19/2013,Female,Unable to Obtain Information from Charging Party,Jun/01/1988,NaN,N,561210.0,Facilities Support Services,501+ Employees,Private Employer
170003,May/03/2013,Female,American (U.S.) National Origin,Oct/27/1971,NaN,W,NaN,NaN,15 - 100 Employees,Private Employer
170004,May/10/2013,Female,Mexican National Origin,Jul/25/1991,Y,W,NaN,NaN,15 - 100 Employees,Private Employer
170005,May/13/2013,Female,Mexican National Origin,Dec/05/1970,Y,N,NaN,NaN,15 - 100 Employees,Private Employer
170006,May/23/2013,Female,American (U.S.) National Origin,Dec/29/1992,NaN,N,722110.0,Full-Service Restaurants,15 - 100 Employees,Private Employer
170007,Jun/07/2013,Female,American (U.S.) National Origin,Apr/24/1957,NaN,NaN,NaN,NaN,15 - 100 Employees,Private Employer
170008,Jun/07/2013,Female,Unable to Obtain Information from Charging Party,Mar/28/1978,NaN,N,622110.0,General Medical and Surgical Hospitals,501+ Employees,Private Employer
170009,Jun/10/2013,Female,American (U.S.) National Origin,May/08/1976,NaN,N,541519.0,Other Computer Related Services,501+ Employees,Private Employer
170010,Jun/19/2013,Male,American (U.S.) National Origin,Nov/22/1975,NaN,B,922140.0,Correctional Institutions,501+ Employees,Private Employer
170011,Jun/25/2013,Female,American (U.S.) National Origin,Jan/29/1969,NaN,W,NaN,NaN,15 - 100 Employees,Private Employer
170012,Aug/02/2013,Male,American (U.S.) National Origin,Dec/30/1971,NaN,W,NaN,NaN,15 - 100 Employees,Private Employer
170013,Aug/19/2013,Female,American (U.S.) National Origin,Jul/22/1977,NaN,W,NaN,NaN,15 - 100 Employees,Private Employer
170014,Sep/25/2013,Female,American (U.S.) National Origin,Apr/26/1987,NaN,W,561440.0,Collection Agencies,201 - 500 Employees,Private Employer
170015,Oct/01/2013,Female,American (U.S.) National Origin,Dec/19/1988,NaN,W,523910.0,Miscellaneous Intermediation,15 - 100 Employees,Private Employer
170016,Mar/04/2014,Male,Mexican National Origin,Aug/28/1986,Y,W,339999.0,All Other Miscellaneous Manufacturing,15 - 100 Employees,Private Employer
170017,Jan/31/2014,Female,Charging Party Declined to Provide,Jun/09/1988,NaN,N,NaN,NaN,Unknown Number Of Employees,Private Employer
170018,Mar/07/2014,Female,American (U.S.) National Origin,May/02/1990,Y,W,NaN,NaN,501+ Employees,Private Employer
170019,May/06/2014,Male,Other European National Origin,Aug/01/1974,NaN,W,337215.0,"Showcase, Partition, Shelving, and Locker Manu...",501+ Employees,Private Employer
170020,Jun/16/2014,Female,Unable to Obtain Information from Charging Party,NaN,NaN,N,452111.0,Department Stores (except Discount Department ...,501+ Employees,Private Employer
170021,Apr/07/2015,Female,Unable to Obtain Information from Charging Party,NaN,NaN,W,621610.0,Home Health Care Services,501+ Employees,Private Employer

In [8]:
charges.head()

,CHARGE_FILING_DATE,CP_SEX,CP_NATIONAL_ORIGIN,CP_DOB,HISPANIC_CP,CP_RACE_STRING,R_NAICS_CODE,R_NAICS_DESCRIPTION,R_NUMBER_OF_EMPLOYEES,R_TYPE
0,Oct/01/1995,Female,Other National Origin - Obsolete,Oct/21/1969,NaN,B,311612.0,Meat Processed from Carcasses,201 - 500 Employees,Private Employer
1,Oct/02/1995,Female,Other National Origin - Obsolete,Jan/01/2001,NaN,O,541990.0,"All Other Professional, Scientific, and Techni...",15 - 100 Employees,Private Employer
2,Oct/02/1995,Female,Other National Origin - Obsolete,Jul/30/1960,NaN,W,722110.0,Full-Service Restaurants,15 - 100 Employees,Private Employer
3,Oct/02/1995,Male,Other National Origin - Obsolete,Jun/02/1957,NaN,B,422990.0,Other Miscellaneous Nondurable Goods Wholesalers,15 - 100 Employees,Private Employer
4,Oct/02/1995,Female,Other National Origin - Obsolete,Apr/15/1959,NaN,W,523999.0,Miscellaneous Financial Investment Activities,501+ Employees,Private Employer

In [11]:
charges.tail()

,CHARGE_FILING_DATE,CP_SEX,CP_NATIONAL_ORIGIN,CP_DOB,HISPANIC_CP,CP_RACE_STRING,R_NAICS_CODE,R_NAICS_DESCRIPTION,R_NUMBER_OF_EMPLOYEES,R_TYPE
170017,Jan/31/2014,Female,Charging Party Declined to Provide,Jun/09/1988,NaN,N,NaN,NaN,Unknown Number Of Employees,Private Employer
170018,Mar/07/2014,Female,American (U.S.) National Origin,May/02/1990,Y,W,NaN,NaN,501+ Employees,Private Employer
170019,May/06/2014,Male,Other European National Origin,Aug/01/1974,NaN,W,337215.0,"Showcase, Partition, Shelving, and Locker Manu...",501+ Employees,Private Employer
170020,Jun/16/2014,Female,Unable to Obtain Information from Charging Party,NaN,NaN,N,452111.0,Department Stores (except Discount Department ...,501+ Employees,Private Employer
170021,Apr/07/2015,Female,Unable to Obtain Information from Charging Party,NaN,NaN,W,621610.0,Home Health Care Services,501+ Employees,Private Employer

In [9]:
len(charges)

170022